<mat-toolbar>
  <img src="../../../assets/econ-10.png" alt="logo" class="logoimg" />
  <span>WITH THE BIBLE - Getting YouTube Videos</span>
  <span class="example-spacer"></span>
  <button mat-icon-button routerLink="/home">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button routerLink="/login">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<div class="container">
  <mat-grid-list cols="1" rowHeight="3em">
    <mat-grid-tile>
      <button
        *ngIf="status === 'Getting videos completed!'"
        mat-raised-button
        (click)="addVideos()"
      >
        Add videos to database
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        *ngIf="status === 'Process completed!'"
        mat-raised-button
        routerLink="/home"
      >
        Return to dashboard
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
