<h2 mat-dialog-title>Upload Audio Sermon File</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input placeholder="Speaker" matInput formControlName="speaker" />
    <mat-error *ngIf="speaker.invalid">Speaker is mandatory!</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input placeholder="Title" matInput formControlName="title" />
    <mat-error *ngIf="title.invalid">Title is mandatory!</mat-error>
  </mat-form-field>

  <div *ngIf="form.valid" (click)="upload.click()">
    <button mat-raised-button color="primary">Select Audio File</button>
    <input
      #upload
      type="file"
      (change)="uploadMessageaudio($event)"
      style="display: none"
    />
  </div>
  <div>
    <mat-divider></mat-divider>
  </div>
  <div>
    <h4 *ngIf="filen">Uploading... {{ filen }}</h4>
  </div>
  <div *ngIf="percentageChanges$ | async as percentage">
    <mat-progress-bar mode="determinate" [value]="percentage">
    </mat-progress-bar>
    <span> {{ percentage / 100 | percent }} </span>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button *ngIf="!canClose" mat-raised-button color="accent">Saving...</button>
  <button *ngIf="canClose" mat-raised-button color="primary" (click)="close()">
    Close
  </button>
</mat-dialog-actions>
