<h2 mat-dialog-title>Edit Audio Sermon</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <mat-select placeholder="Select Series" formControlName="series">
      <ng-container *ngFor="let series of series$ | async">
        <mat-option [value]="series.text">
          {{ series.text }}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input placeholder="Title" matInput formControlName="title" />
    <mat-error *ngIf="title.invalid">Title is mandatory!</mat-error>
  </mat-form-field>

  <mat-form-field>
    <textarea
      rows="4"
      cols="50"
      placeholder="Description"
      matInput
      formControlName="description"
    ></textarea>
  </mat-form-field>
  <mat-form-field>
    <input placeholder="Video URL" matInput formControlName="videoUrl" />
  </mat-form-field>
</mat-dialog-content>
<div>
  <p class="message">
    If audio file needs to be changed, this entry has to be deleted and entered
    again as new.
  </p>
</div>

<mat-dialog-actions>
  <button *ngIf="form.valid" mat-raised-button color="primary" (click)="save()">
    Save
  </button>
  <button mat-raised-button color="accent" (click)="cancel()">Cancel</button>
</mat-dialog-actions>
