<h2 mat-dialog-title>Upload Daily Word</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input
      [readonly]="true"
      placeholder="Serial No"
      matInput
      formControlName="serialno"
    />
    <mat-error *ngIf="serialno.invalid">Serial No is mandatory!</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      placeholder="Title"
      matInput
      formControlName="title"
      cdkFocusInitial
    />
    <mat-error *ngIf="title.invalid">Title is mandatory!</mat-error>
  </mat-form-field>
  <angular-editor
    formControlName="text"
    [config]="editorConfig"
  ></angular-editor>
</mat-dialog-content>

<mat-dialog-actions>
  <button *ngIf="form.valid" mat-raised-button color="primary" (click)="save()">
    Save
  </button>
  <button mat-raised-button color="accent" (click)="cancel()">Cancel</button>
</mat-dialog-actions>
