<h2 mat-dialog-title>Upload Q & A</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input placeholder="Question" matInput formControlName="question" />
    <mat-error *ngIf="question.invalid">Question is mandatory!</mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea
      rows="6"
      cols="100"
      placeholder="Answer"
      matInput
      formControlName="answer"
    ></textarea>
    <mat-error *ngIf="answer.invalid">Answer is mandatory!</mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button *ngIf="form.valid" mat-raised-button color="primary" (click)="save()">
    Save
  </button>
  <button mat-raised-button color="accent" (click)="cancel()">Cancel</button>
</mat-dialog-actions>
