<h2 mat-dialog-title>Upload Audio File</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <mat-select placeholder="Select Book" formControlName="book">
      <ng-container *ngFor="let book of books$ | async">
        <mat-option [value]="book.book">
          {{ book.book }}
        </mat-option>
      </ng-container>
    </mat-select>
    <mat-error *ngIf="book.invalid">Book is mandatory!</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input placeholder="Title" matInput formControlName="name" />
    <mat-error *ngIf="name.invalid">Title/Description is mandatory!</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input placeholder="Title in Kannada" matInput formControlName="namk" />
  </mat-form-field>
  <div *ngIf="form.valid" (click)="upload.click()">
    <button mat-raised-button color="primary">Select File</button>
    <input
      #upload
      type="file"
      (change)="uploadTrack($event)"
      style="display: none"
    />
  </div>
  <div>
    <mat-divider></mat-divider>
  </div>
  <div>
    <h4 *ngIf="filen">Uploading... {{ filen }}</h4>
  </div>
  <div *ngIf="percentageChanges$ | async as percentage">
    <mat-progress-bar mode="determinate" [value]="percentage">
    </mat-progress-bar>
    <span> {{ percentage / 100 | percent }} </span>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button *ngIf="canClose" mat-raised-button color="primary" (click)="close()">
    Close
  </button>
</mat-dialog-actions>
